# Environment variables
.env

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.tfstate.lock.info

# Terraform crash log files
crash.log
crash.*.log

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files
*.tfplan
*.tfplan.*

# Terraform variable files (if they contain sensitive data)
terraform.tfvars
terraform.tfvars.json
*backend/app/__pycache__/*
backend/app/__pycache__/*
backend/app/routers/__pycache__/__init__.cpython-310.pyc
backend/app/routers/__pycache__/chat.cpython-310.pyc
backend/app/routers/__pycache__/dashboard.cpython-310.pyc
backend/app/routers/__pycache__/github.cpython-310.pyc
backend/app/routers/__pycache__/search.cpython-310.pyc
backend/app/services/__pycache__/__init__.cpython-310.pyc
backend/app/services/__pycache__/chat_service.cpython-310.pyc
backend/app/services/__pycache__/dashboard_service.cpython-310.pyc
backend/app/services/__pycache__/github_service.cpython-310.pyc
backend/app/services/__pycache__/search_service.cpython-310.pyc
__pycache__
dist
node_modules/
node_modules/.vite